<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Dex number:</strong>
    <%= pokemon.dex_number %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <%= pokemon.abilities %>
  </p>

  <p>
    <strong>Types:</strong>

    <% pokemon.poke_types.each do |type| %>
        <%= type.name.capitalize %><%= ', ' unless type == pokemon.poke_types.last %>
    <% end %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pokemon.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pokemon.weight %>
  </p>

</div>
