<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Dex number:</strong>
    <%= pokemon.dex_number %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <%= pokemon.abilities %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pokemon.type %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pokemon.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pokemon.weight %>
  </p>

</div>
