<div id="<%= dom_id trainer %>" class="card">
  <div class="card-body">
    <h2 class="card-header">
      <strong><%= link_to trainer.name, trainer %></strong>
    </h2>
    <p>
      <strong>Height:</strong>
      <%= trainer.height %>
    </p>

    <p>
      <strong>Weight:</strong>
      <%= trainer.weight %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= trainer.age %>
    </p>
  </div>


</div>
