<div id="<%= dom_id trainer %>">
  <h1>
    <strong>Name:</strong>
    <%= trainer.name %>
  </h1>

  <p>
    <strong>Height:</strong>
    <%= trainer.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= trainer.weight %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= trainer.age %>
  </p>

</div>
