<p style="color: green"><%= notice %></p>

<% content_for :title, "Trainers" %>

<div class="row" >
  <div class="col">
    <%= paginate @trainers %>
  </div>
  <div class="col">
    <%= form_with url: trainers_path, method: :get, local: true do %>
      <%= label_tag :search, "Search Trainers:" %>
      <%= text_field_tag :search, params[:search], placeholder: "Name or Trainer ID" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<div id="trainers">
  <% if @trainers.any? %>
    <% @trainers.each do |trainer| %>
      <%= render trainer %>
      <p><%= link_to "Show this trainer", trainer %></p>
    <% end %>
  <% else %>
    <p>No trainers found matching your search criteria</p>
  <% end %>
</div>

<%= paginate @trainers %>

<%= link_to "New trainer", new_trainer_path %>

